{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<img src="static/images/Profile_compressed.jpg" class="rounded" alt="Profile image">

<p>Hi, I am Terence Chen or TC. <br>I created this website as a way to showcase the work that I have done throughout my IT studies and possibly some other personal stuff as well. <br>I DID have another site but that was using a template which I found was too restrictive for my liking and there were other aspects I wanted to practice, more details in the projects (add link here) page.</p>

<img src="static/images/Gurren_compressed.jpg" class="rounded" alt="Gurren Lagann cosplay">
{% endblock content %}