{% extends 'base.html' %}
{% block metadescription %}An about page that describes the website creator.{% endblock metadescription %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="text-center">
<img src="/static/images/Profile_scale.jpg" class="rounded" alt="Profile image">

<p class="pt-2 text-white">Hi, welcome to this website, I am Terence Chen or TC.
    <br>I created this website as a way to showcase the work that I have done throughout my IT studies and also a way to practice Django and website hosting (using something slightly more complicated and flexible than Github Pages).
    <br>I do have another site but that was using a template which I found was too restrictive for my liking and there were other aspects I wanted to practice, more details in the <a class="text-white bg-black p-1" href="{% url 'projects' %}">Projects</a> page.
    <br><br>Contrary to what the picture underneath suggests, I do not cosplay a lot, this was like my 3rd time in my life but I do enjoy it when I get the chance to. I just do not have the desire or storage space to do it more often.
    <br>What I do often though is video gaming, reading and watch the occasional tv show. More than likely it will be in the fantasy genre too!
</p>

<img src="/static/images/Gurren_compressed2.jpg" class="rounded mb-3" alt="Gurren Lagann cosplay">
</div>
{% endblock content %}