{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="text-center">
<img src="static/images/Profile_scale.jpg" class="rounded" alt="Profile image">

<p class="p-2 text-white">Hi, welcome to this website, I am Terence Chen or TC. <br>I created this website as a way to showcase the work that I have done throughout my IT studies and possibly also a way to practice Django. <br>I DID have another site but that was using a template which I found was too restrictive for my liking and there were other aspects I wanted to practice, more details in the projects (add link here) page.</p>

<img src="static/images/Gurren_compressed2.jpg" class="rounded" alt="Gurren Lagann cosplay">
</div>
{% endblock content %}