{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}   
<div class="text-center">
    <img src="static/images/Image_by_vectorjuice_on_Freepik_scale.jpg" class="rounded" alt="Image by vectorjuice on Freepik">

    <h1 class="text-white pt-2">Terence Chen</h1>
    <p class="text-white">Hi, I am a Software Development Student.<br>I will be adding my projects (mostly links to their repository), including this website, to this website.<br>If I can find a better way to showcase the projects I will.</p>
</div>
{% endblock content %}
</html>