{% extends 'base.html' %}
{% block title %}Projects{% endblock title %}
{% block content %}
<div class="text-center text-white">
    <h1 class="text-decoration-underline">Non-Responsive Websites</h1>
    <p>Use Django models to list URLs</p>

    <h1 class="text-decoration-underline">Responsive Websites</h1>
    <p>Use Django models to list URLs</p>

    <h1 class="text-decoration-underline">Non-GUI programs</h1>
    <p>Use Django models to list URLs</p>
    
    <h1 class="text-decoration-underline">GUI programs</h1>
    <p>Use Django models to list URLs</p>
</div>
{% endblock content %}